body {
  /* background-image: url(/img/crepperUwu.jpg);
  min-height: 100vh;
  background-image: url(./img/crepperUwu.jpg);
  background-size: cover;
  background-image: url(./img/logo.jpg);*/
  background-image: linear-gradient(
    180deg,
    #b2eaff 0,
    #5389f2 50%,
    #003265 100%
  );
}

#navbar-example3 {
  /*background-image: url(./img/logo.jpg);
  min-height: 71vh;
  min-width: 71vh;
  background-size: cover;
  */
  background-image: linear-gradient(
    180deg,
    #cdc3ff 0,
    #9d9df2 50%,
    #7278b7 100%
  );
}

/* #color {
  background-color: rgba(124, 75, 202, 0.512);
} */
