/* Espaciado entre los links del navbar */
/* Tipografia */
/* imagen de fondo del contenido */
body {
  background-color: #3a4149;
  font-family: "Century Gothic", sans-serif;
  font-size: medium;
  /*background-image: url(./img/imgPag1/Fondo.jpg);
  background-repeat: repeat;
  */
}

section {
  background-color: #fffefe;
  margin-top: 200px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
}

/* footer */
footer {
  background-color: black;
}
