body {
  font-family: "Century Gothic", sans-serif;
  font-size: medium;
  background-image: url(./fondo.jpg);
  background-repeat: repeat;
}

section {
  background-color: #fffefe;
  margin-top: 200px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 11px 11px 0px #454343;
}

/* navbar */
.buttons-nav {
  padding-left: 230px;
}

/* Navbar-center */
@media (max-width: 1166px) {
  .scale-nav {
    padding-left: 20px;
  }
}

/* Carrucel */

.carrucel {
  border-radius: 7px;
  box-shadow: 0px 15px 0px 15px;
}

.scale-carrucel {
  max-width: 60px;
}

.scale-redes {
  margin-top: 100px;
  transform: scale(0.5);
}

@media (max-width: 1390px) {
  .redes-margin {
    margin-top: 30px;
  }
}

.scale-inicio {
  max-height: 750px;
  max-width: 1500px;
}

@media (max-width: 1390px) {
  .scale-inicio {
    max-height: 500px;
    max-width: 1300px;
  }
}

@media (max-width: 1800px) {
  .text-inicio {
    margin-bottom: 100px;
  }
}

@media (max-width: 1390px) {
  .text-inicio {
    margin-bottom: 370px;
    transform: scale(0.8);
  }
}

.img-center-top {
  margin-top: 120px;
}

.img-center {
  margin-top: 70px;
  margin-bottom: 100px;
}

.img-section {
  margin-top: -80px;
  margin-bottom: -70px;
  transform: scale(0.7);
}

.carta-tip {
  width: 560px;
}

@media (max-width: 1527px) {
  .carta-tip {
    width: 500px;
  }
}

@media (max-width: 1387px) {
  .carta-tip {
    width: 450px;
  }
}
@media (max-width: 1265px) {
  .carta-tip {
    width: 400px;
  }
}
@media (max-width: 1147px) {
  .carta-tip {
    width: 350px;
  }
}
@media (max-width: 855px) {
  .carta-tip {
    width: 300px;
  }
}
@media (max-width: 766px) {
  .carta-tip {
    width: 500px;
  }
}

@media (max-width: 577px) {
  .carta-tip {
    width: 350px;
  }
}

/* footer */
.scale-footer {
  transform: scale(0.6);
}

@media (max-width: 767px) {
  .footer-disable {
    display: none;
  }
}

@media (max-width: 767px) {
  .footer-buttons {
    transform: scale(0.9);
    margin-top: 20px;
  }
}
